!!! 5
head
  title Persuasion: file not found
  script(src="http://static.ak.fbcdn.net/connect/en_US/core.js")
  link(rel="stylesheet",href="/static/fluid.gs.css",type="text/css",media="screen")
  link(rel="stylesheet",href="/static/app.css",type="text/css",media="screen")
  link(href='http://fonts.googleapis.com/css?family=Molengo&subset=latin',rel='stylesheet',type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Neucha&subset=latin',rel='stylesheet',type='text/css')
body
  div#header
    div.fluid_grid_layout
      div.six_column.section
        div.four.column
          div.column_content
            h1 That doesn&#8217;t exist!
        - if (isAuth)
          div.one.column
            div.column_content
              span hi, ${user.username}
          div.one.column
            div.column_content
              a(href="/logout")
                span logout
        - else
          div.one.column
            div.column_content
              div.fb_auth
                a.fb_auth_a(href="/auth/facebook")
                  span auth with facebook
          div.one.column
            div.column_content
              div.twitter_auth
                a(href="/auth/twitter?next=" + next)
                  span auth with twitter

  div.fluid_grid_layout#main
    div.six_column.section
      div.six.column
        div.column_content
          :javascript
            | function createIt() {
            |       var params = [];
            |       var title = document.getElementById('title').value;
            |       var path = document.getElementById('path').value;
            |       params.push(encodeURIComponent("title") + "=" + encodeURIComponent(title));
            |       params.push(encodeURIComponent("path") + "=" + encodeURIComponent(path));
            |       var qparams = params.join("&");
            |       var url = '/create?' + qparams;
            |       var req = new XMLHttpRequest();
            |       req.open('POST', url);
            |       var node = this._node;
            |       req.onreadystatechange = function (aEvt) {
            |         if (req.readyState == 4) {
            |           if (req.status == 200) {
            |             window.location = req.responseText
            |           }
            |         }
            |       };
            |       req.send("");
            | }
          - if (url_specified) {
            p
              strong That thing does not exist, but we can create it:
            input#path.hidden(value=path)
          - } else {
            p
              strong Tell us about your presentation:
            input#path(size=20,value="some_url")
          - }
          p
            input#title(size=20,value="title of your presentation")
            button(onclick='createIt()') create it


  div.fluid_grid_layout#footer
    div.six_column.section
      div.two.column
        div.column_content
          p written by david ascher
      div.two.column
        div.column_content
          p just a hobby
      div.two.column
        div.column_content
          p all your content belongs to you
