
/* this stylesheet is for the app UI itself */

body {
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
}


.hidden {
  visibility: hidden;
}

#userpanel {
  position: fixed;
  right: 150px;
  top: 0px;
  background: rgba(50,50,50,.3);
  padding:  0.4ex 1ex;
  /*border-radius-bottom-left: 4px;*/
  /*-webkit-border-radius: 4px;*/
  border-radius: 0 0 4px 4px;
  z-index: 1000;
}

.hud {
  position: fixed;
  left: 200px;
  top: 200px;
  border-radius: 20px;
  border-width: 10px;
  background: rgba(200,200,200,.7);
  min-height: 200px;
  min-width: 400px;
  z-index: 1200;
  padding: 1em;
}

.hud_button {
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.hud .first {
  display: block;
  margin-bottom: 2em;
}

.hud_key {
  margin: 1em;
  margin-bottom: 2em;
  padding: 1ex;
  background: white;
  border-radius: 4px;
  font-size: 20px;
}


#divpanel {
  position: fixed;
  background: rgba(200,50,0,1);
  padding: 4px;
  z-index: 1221;
}

.selected {
  background-color: rgba(243, 209, 112, 1);
}

#delete_div {
  cursor: pointer;
}
#add_div {
  padding-top: 10px;
  cursor: pointer;
}

#commentbox {
  position: fixed;
  right: 50px;
  bottom: 0px;
  min-width: 20em;
  border-width: 14px;
  border-color: rgba(150,250,150,.5);
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(150,150,150,.5);
  z-index: 100;
  padding: 1ex 1em;
  margin: 0;
}

#commentheader:hover {
  background: grey url(/static/horizontal.png);
}

#commentheadercount {
  color: black;
  font-weight: bold;
  background: yellow;
  padding: 2px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

li.comment {
  color: grey;
}

span.comment {
  color: black;
}
#commentheadespan {
  color: darkgrey;
}

#comments .who {
  color: darkred;
}

#newcommmentbox {
  position: relative;
  height: 2em;
  width: 100%;
}

#newcomment {
  position: absolute;
  left: 5px;
  right: 5px;
  display: inline-block;
  top: 0;
  height: 1em;
  font-size: 16px;
  margin-right: 10px;
  font-family: Helvetica;
  padding: 3px;
}


#chatbox {
  position: fixed;
  left: 50px;
  bottom: 0px;
  min-width: 20em;
  border-width: 14px;
  border-color: rgba(150,250,150,.5);
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(150,150,150,.5);
  z-index: 100;
  padding: 1ex 1em;
  margin: 0;
}

#chatheader:hover {
  background: grey url(/static/horizontal.png);
}

li.chat {
  /*color: grey;*/
}

span.chat {
  color: black;
}
#chatheadespan {
  color: darkgrey;
}

#chats .who {
  color: darkred;
}

#newcommmentbox {
  position: relative;
  height: 2em;
  width: 100%;
}

#newchat {
  position: absolute;
  left: 5px;
  right: 5px;
  display: inline-block;
  top: 0;
  height: 1em;
  font-size: 16px;
  margin-right: 10px;
  font-family: Helvetica;
  padding: 3px;
}



.comment {
  padding: 1ex 1em;
  margin: 0;
  position: relative;
}

.comment .dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
}

.comments > :nth-child(odd) {
  background: rgba(200,200,200,.8);
}
.comments > :nth-child(even) {
  background: rgba(160,160,160,.8);
}

#logo {
  position: fixed;
  font-weight: bold;
  letter-spacing: -0.1ex;
  padding-left: 1ex;
  opacity: 0.2;
  z-index: 30000;
  left: 0;
  top: 0;
  font-family: 'Molengo', arial, serif;
  font-size: 18px;
}

#stylemenu {
  position: fixed;
  border: 1px solid rgba(200,200,200,.5);
  display: inline;
  z-index: 4000;
  padding-left: 10px;
  right: 10px;
  top: 100px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba(100,50,50,.2);
}

#stylemenu.selected {
  background-color: rgba(255,50,50,.8);
}

ul#styles  {
  display: inline;
  padding: 0;
  margin: 0;
}
#styles li {
  padding: 0;
  margin: 0;
  border: 1px solid grey;
  display: inline-block;
  background: white;
  opacity: .5;
  width: 100px;
  height: 80px;
}

#styles li.current {
  /*border: 1px solid rgba(200,50,150,.8);*/
  opacity: 0.8;
}
#styles li {
  position: relative;
}

#stylemenu #styles li:hover {
  opacity: 1;
}

#styles li.current {
  border: 1px solid blue;
}

div.thumbnail_shadow {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100px;
  height: 80px;
  z-index: 10;
}
iframe.thumbnail_iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  overflow: hidden;
  width: 100px;
  height: 80px;
}